extends layout

block postscripts
  script(src='/javascripts/logs.js')

block content
  include navbar.jade
  .container
    h4 Logs
    .row
      .col-md-9
      .col-md-3
        p Service Status:&nbsp;&nbsp;
          span#logservstatus.label.label-default Connecting...
        .panel.panel-default
          .panel-heading
            h4.panel-title Available Logs
              span
                button.btn.btn-info.btn-xs(type=button, onclick='logserv.refresh()', style='float: right;') refresh
          .panel-body
            select#loglist.form-control.input-sm
            button.btn.btn-info.btn-xs.btn-block(type=button, onclick='logserv.getLogFile()') Load
    .row
      .col-md-12
        div(style='overflow-y: scroll;')
          pre#logcontents(style='font-size: 8pt; height: 200px;') Log data to appear here
